body {
    font-family: Georgia, serif;
    font-size: 16px;
    color: #273746;
    line-height: 1rem;
    margin: 20px;
    padding: 40px 40px 40px 40px;
  }
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #273746;
    font-size: 36px;
    line-height: 2rem;
    padding: 0px 0px 00px 0px;
  }
  h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 22px;
    color: #273746;
    line-height: 1.5rem;
  }
  h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    color: #273746;
    line-height: 2rem;
    display: inline;
    padding: 0px 0px 0px 25px;
  }
  h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #273746;
    line-height: 1.2rem;
  }
  ul {
    display: block;
    list-style-type: circle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
  }
  p.t1 {display: none;}
  p.t2 {display: inline;}
  p.t3 {display: block;}
  p.t4 {display: inline-block;}

  div.container {
    height: 2em;
    position: relative;
  }
  div.container p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
  }
  .static {
    position:absolute;
    background: white;
  }
  .static:hover {
    opacity: 0;
  }
